@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #131112;
}

a {
 text-decoration: none;
}

.album_link {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.main {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    height: 85vh;
}

.big_card{ 
    border: 7px double #ED9DA5;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgba(123,67,91,0.4);
}

.big_card h1{
    margin: 100px 0 70px;
    font-size: 2.2rem;
    cursor:pointer;
}

.hero_sect {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    width: 32vw;
    height: 60vh;
}

.big_card h2{
    margin-bottom: 10px;
    color: #131112;
    font-family: 'Poppins', serif;
}

.name {
    color: #ED9DA5;
}


.excerpt {
    font-family: sans-serif;
    width: 68%;
    height: 100%;
}



.circle {
    transition: .4s;
    color: #6E6E6E;
    font-family: 'Poppins', serif;
}

.circle:hover {
    transition: .4s;
    color: #ED9DA5;
}

.swim {
    color: #7796CB;
    transition: .4s;
    font-family: 'Poppins', serif;
}

.swim:hover {
    transition: .4s;
    color: #ED9DA5;
}

.card {
    border: 5px double #131112;
    width: 50%;
    height: 100%;
    cursor: pointer;
    transition: .4s;
}

.card:hover {
    transition: .3s;
    transform: scale(1.1);
    border-color: #7B435B;
    box-shadow: 0px 0px 11px 1px rgba(123,67,91,0.75);
}

.swimming{
    background-image: url(/images/Swimming_Mac.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.circles{
    background-image: url(/images/Circles_Mac.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card_sect {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50%;
}

.rating {
    margin-bottom: 10px;
    border-bottom: 1px solid #131112;
}

.pink {
    color: #ED9DA5;
}

.grey {
    color: #6E6E6E;
}

.blue {
    color: #7796CB;
}

.review {
    width: 80%;
    line-height: 1.4rem;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 1169px) {
    .card_sect{
        flex-direction: column;
        align-items: center;
        height: 70%;
    }

    .hero_sect{
        width: 70%;
        font-size: 15px;
    }

    .card {
        width: 30%;
        height: 80%;
    }

    .big_card {
        width: 75vw;
    }
    
    .big_card h1{
        margin: 60px 0 40px;
    }
}
@media (max-width: 769px) {
    .yin-yang {
        height: 12px;
    }

    .big_card {
        width: 80vw;
    }

    .big_card h1{
        font-size: .8rem;
        margin-bottom: 52px;
    }


    .card {
        width: 50%;
        height: 65%;
    }

    .hero_sect {
        width: 95%;
        font-size: 10px;
        margin-left: 0;
    }

    .rating h2 {
        font-size: 1rem;
    }

    .content {
        font-size: .7rem;
    }

}

.footer {
    margin-left: 12px;
    height: 5vh;
    display: flex;
    align-items: flex-end;
    font-family: sans-serif;
    font-size: .6rem;
}